$brand-primary: #800080; 
$brand-secondary: #4b0082; 
$body-bg: #f8f0fa; 
$text-color: #3a003f; 
$link-color: #9400d3; 
$link-hover-color: #ba55d3; 

@import "minimal-mistakes";

body {
    background-color: $body-bg;
    color: $text-color;
}

a {
    color: $link-color;
}

a:hover {
    color: $link-hover-color;
}

header, footer {
    background-color: $brand-primary;
    color: white;
}

header a, footer a {
    color: white;
}

header a:hover, footer a:hover {
    color: $brand-secondary;
}